*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
 
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}
 #headerOne , .headerList , .onlineOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b1069;
 }
 ul, li {
     list-style: none;
 }
 .headerList li a {
     margin: 0 20px;
     color: rgb(174, 182, 69);
     padding: 12px 8px;
     text-decoration: none;
 }
 .onlineOut li a {
    margin: 0 20px;
    color: rgb(214, 226, 38);
    padding: 12px 8px;
    text-decoration: none;
 }